<div class="mt-4 place">
    <div class="row">
        {{#each place}}
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <p class="card-text">{{this.content}}</p>
                        <a href="/place/{{this.slug}}" class="btn btn-primary">Detail</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>

