@import "variables";

.container {
    margin-top: 20px;
}

.place {
    .card {
        width: 100%;
        padding: 10px;
        .card-img-top {
            height: 150px;
            object-fit: cover;
        }
    }
}

.blog-single {
    img {
        width: 100%;
    }
}

.avatar-img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.table-img {
    width: 34px;
    height: 34px;
}

.place-select-action {
    width: 180px;
    margin: 0 10px;
}