<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-md">
    <a class="navbar-brand" href="/">Study page</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/place">Địa điểm</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://photo2.tinhte.vn/data/avatars/m/2784/2784137.jpg?1609814141" class="avatar-img">
            vdongdn
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/place/create">Thêm địa điểm</a></li>
            <li><a class="dropdown-item" href="/me/my-place">Địa điểm của tôi</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>