<div class="form-search mt-5">
    <form method="POST" action="/search-post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Từ khóa</label>
            <input type="text" class="form-control" id="keyword" name="keyword" placeholder="Nhập từ khóa tìm kiếm">
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>
<h3>{{obj.keyword}}</h3>